form{
    margin-left: 300px;  
    width: 1000px;
    height: 700px;
    box-shadow: 0px 8px 16px 4px;
    background-image: url(./nature.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 20px;
}

h1{
    text-align: center;
    color:#94DAFF;
    text-decoration: underline;
}

h1:hover{
            color:rgb(24, 231, 69);
}



.parent {
         display: inline-block;
         position: sticky;
        
         
         
         border-radius: 30px;
         line-height: 80px;
          width: 100px;
          
         background-color:crimson;
         border-right:#ccc 13px solid;
         
        }

      


.parent a{
            margin: 15px;
            color: whitesmoke;
           text-decoration: solid;
          }

.parent:hover > ul {
                     display: block;
                     position:absolute;
                    }
                 
.child {
        display: none;
       }

.child li {
               background-color: #821752;
           opacity: initial;
             line-height: 40px;
              width:100%;
            
            border-bottom:#CCC 7px solid;
            border-right:#CCC 1px solid; 
           
         }

.child li a{
            color:white;
           }

ul {
     list-style: none;
     margin: 0;
     padding: 0px;
     min-width:10em;
    }

ul ul ul{
          left: 100%;
          top: 0;
          margin-left:1px;
        }

li:hover {
            background-color: darkcyan;
           
         }

.parent li:hover {
                   background-color: #01C5C4;
                }

.expand{
         font-size:16px;
         float:right;
         margin-right:5px;
       }

 #menu{
               margin: 130px 0px 0px 150px;
       }

     